@font-face {
  font-family: 'iAWriter';
  font-style: normal;
  src:  url('fonts/iAWriter/iAWriterMonoS-Regular.woff2') format('woff2'),
        url('fonts/iAWriter/iAWriterMonoS-Regular.woff') format('woff'),
        url('fonts/iAWriter/iAWriterMonoS-Italic.woff2') format('woff2'),
        url('fonts/iAWriter/iAWriterMonoS-Italic.woff') format('woff');
}

@font-face {
  font-family: 'iAWriter';
    src:  url('fonts/iAWriter/iAWriterMonoS-Bold.woff2') format('woff2'),
          url('fonts/iAWriter/iAWriterMonoS-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'iAWriter';
    src:  url('fonts/iAWriter/iAWriterMonoS-BoldItalic.woff2') format('woff2'),
          url('fonts/iAWriter/iAWriterMonoS-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
  font-family: 'Countach';
  font-style: normal;
  src:  url('fonts/Countach/countachweb-regular.woff') format('woff');
}

/* @font-face {
  font-family: 'Signal Mono';
  font-style: normal;
  font-weight: 300;
  src:  url('fonts/SignalMono/signalmonoweb-light.woff') format('woff'),
}

@font-face {
  font-family: 'Signal Mono';
  font-style: bold;
  font-weight: 700;
  src:  url('fonts/SignalMono/signalmonoweb-bold.woff') format('woff'),
} */

html {
  scroll-behavior: smooth;
  width: 100%;
}


body {
  background-color: #051d4d;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'iAWriter', monospace;
  /* color: #cbdbfc; */
  color: #dde8fd;
  margin: 40px;
}

a {
  text-decoration: none;
  border-bottom: 2px solid #58a6ff;
  color: #ffffff;
}

a:visited {
  color: #dde8fd;
}

a:hover, a:visited:hover {
  color: #58a6ff;
  transition: 0.2s ease-in-out;
}

header {
  margin-bottom: 120px;
}

header img {
  width: 200px;
  /* position: fixed; */
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
}

div.intro {
  margin-top: 200px;
  margin-bottom: 200px;
}

h2.description {
  font-family: 'Countach', sans-serif;
  line-height: 1.1;
  font-weight: 400;
  font-size: 100px;
  color: #58a6ff;
}

.first {
  -webkit-animation: 2s ease-in-out 0s normal forwards 1 fadein;
  animation: 2s ease 0s normal forwards 1 fadein;
}

.second {
  -webkit-animation: 3s ease-in-out 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

h2 a {
  color: #58a6ff;
}

h2 a:visited {
  color: #58a6ff;
}

ul {
  list-style: none;
  padding-left: 0;
}

.what-we-do li {
  font-size: 18px;
  margin-bottom: 3em;
}

.what-we-do-2 li {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 3.6em;
}

.what-we-do-2 li strong {
  color: #58a6ff;
  text-transform: uppercase;
}


footer {
  /* position: fixed; */
  left: 40; */
  text-align: center;
  bottom: 20;
  margin-top: 180px;
}

footer p {
  font-size: 12px;
  color: #999999;
}

footer a {
  border-bottom: 0;
}


/***** Typewriter Aninmation *****/

/* .typing-demo {
  width: 31ch;
  animation: typing 2s steps(100), blink .5s step-end infinite alternate;
  overflow: hidden;
  display: inline-block;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  100% {
    border-color: transparent
  }
} */




/***** Media Queries *****/

@media (min-width: 1900px){

  div.intro {
    margin-top: 240px;
    width: 80%;
  }

  h2.description {
    font-size: 120px;
  }
  
  .what-we-do-2 li {
    width: 800px;
  }

  footer {
    margin-top: 200px;
  }

}

@media (min-width: 1400px) and (max-width: 1600px) {

  header img {
    margin-bottom: 0;
  }

  div.intro {
    margin-top: 100px;
    width: 1280px;
  }

  h2.description {
    font-size: 110px;
  }


  .what-we-do-2 li {
    font-size: 21px;
    width: 800px;
  }

  footer p {
    font-size: 12px;
  }
}

@media (min-width: 860px) and (max-width: 1440px) {

  div.intro {
    margin-top: 100px;
    margin-bottom: 200px;
    width: 100%;
  }

  .what-we-do-2 li {
    width: 800px;
  } 
}


@media (min-width: 480px) and (max-width: 860px) {

  div.intro {
    margin-top: 64px;
    margin-bottom: 120px;
  }

  h2.description {
    font-size: 80px;
  }

  .what-we-do-2 li {
    width: 100%;
  }
}  

@media only screen and (min-width: 320px) and (max-width: 480px) {
  body {
    margin: 24px;
    font-size: 16px;
  }

  div.intro {
    margin-top: 100px;
    margin-bottom: 140px;
  }

  header {
    margin-bottom: 80px;
  }

  h2.description {
    font-size: 54px;
    line-height: 1.2;
  }

  .what-we-do-2 li {
    font-size: 16px;
    margin-bottom: 4em;
    width: 100%;
  }

  li a:visited {
    color: #bbbbbb;
  }

  footer {
    left: 24;
    bottom: 40;
    margin-top: 140px;
    margin-bottom: 40px;
    position: static;
  }

}
