@font-face {
  font-family: 'iAWriter';
  font-style: normal;
  src:  url('fonts/iAWriter/iAWriterMonoS-Regular.woff2') format('woff2'),
        url('fonts/iAWriter/iAWriterMonoS-Regular.woff') format('woff'),
        url('fonts/iAWriter/iAWriterMonoS-Italic.woff2') format('woff2'),
        url('fonts/iAWriter/iAWriterMonoS-Italic.woff') format('woff');
}

@font-face {
  font-family: 'iAWriter';
    src:  url('fonts/iAWriter/iAWriterMonoS-Bold.woff2') format('woff2'),
          url('fonts/iAWriter/iAWriterMonoS-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
  font-family: 'iAWriter';
    src:  url('fonts/iAWriter/iAWriterMonoS-BoldItalic.woff2') format('woff2'),
          url('fonts/iAWriter/iAWriterMonoS-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
  font-family: 'Countach';
  font-style: normal;
  src:  url('fonts/Countach/countachweb-regular.woff') format('woff');
}

/* @font-face {
  font-family: 'Signal Mono';
  font-style: normal;
  font-weight: 300;
  src:  url('fonts/SignalMono/signalmonoweb-light.woff') format('woff'),
}

@font-face {
  font-family: 'Signal Mono';
  font-style: bold;
  font-weight: 700;
  src:  url('fonts/SignalMono/signalmonoweb-bold.woff') format('woff'),
} */

html {
  scroll-behavior: smooth;
}


body {
  background-color: #051d4d;
  font-size: 16px;
  line-height: 1.6;
  font-family: 'iAWriter', monospace;
  color: #dedede;
  margin: 40px;
}

a {
  text-decoration: none;
  border-bottom: 2px solid #58a6ff;
  color: #ffffff;
}

a:visited {
  color: #bbbbbb;
}

a:hover, a:visited:hover {
  /* color: #ffffff; */
  color: #58a6ff;
  transition: 0.2s ease-in-out;
}

header {
  margin-bottom: 120px;
}

header img {
  width: 200px;
  /* position: fixed; */
  -webkit-animation: 1s ease 0s normal forwards 1 fadein;
  animation: 1s ease 0s normal forwards 1 fadein;
}

div.intro {
  margin-top: 120px;
}

h2.description {
  font-family: 'Countach', sans-serif;
  font-size: 84px;
  line-height: 1.1;
  font-weight: 400;
  color: #58a6ff;
  /* margin-bottom: 48px; */
  /* width: 80%; */
}

.first {
  -webkit-animation: 2s ease-in-out 0s normal forwards 1 fadein;
  animation: 2s ease 0s normal forwards 1 fadein;
}

.second {
  -webkit-animation: 3s ease-in-out 0s normal forwards 1 fadein;
  animation: 3s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

h2 a {
  color: #58a6ff;
}

h2 a:visited {
  color: #58a6ff;
}

ul {
  list-style: none;
  padding-left: 0;
}

.what-we-do li {
  font-size: 18px;
  margin-bottom: 3em;
  width: 640px;
}

.what-we-do-2 li {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 3em;
  width: 800px;
}

.what-we-do-2 li strong {
  color: #58a6ff;
  text-transform: uppercase;
}


footer {
  /* position: fixed; */
  left: 40; */
  text-align: center;
  bottom: 20;
  margin-top: 180px;
}

footer p {
  font-size: 12px;
  color: #999999;
}

footer a {
  border-bottom: 0;
}


/***** Typewriter Aninmation *****/

/* .typing-demo {
  width: 31ch;
  animation: typing 2s steps(100), blink .5s step-end infinite alternate;
  overflow: hidden;
  display: inline-block;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  100% {
    border-color: transparent
  }
} */




/***** Media Queries *****/

@media (min-width: 1900px){
  h2.description {
  font-size: 128px;
  }

  .what-we-do-2 li {
    font-size: 21px;
    margin-bottom: 88px;
  }

  footer {
    margin-top: 200px;
  }

}

@media (min-width: 1800px) and (max-width: 1899px){
    h2.description {
      font-size: 108px;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {

  header img {
    margin-bottom: 0;
  }

  .intro {
    margin-top: 0;
  }

  h2.description {
    margin-top: 0px;
    font-size: 100px;
    width: 100%;
  }

  .what-we-do-2 li {
    font-size: 21px;
    margin-bottom: 72px;
  }

  footer p {
    font-size: 12px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    margin: 24px;
    font-size: 16px;
    /* max-width: 375px;
    min-width: 325px; */
  }

  .intro {
    margin-top: 100px;
  }

  header {
    margin-bottom: 100px;
  }

  .what-we-do-2 li {
    font-size: 16px;
    margin-bottom: 56px;
    width: 100%;
  }

  h2.description {
    font-size: 44px;
    line-height: 1.2;
    width: 100%;
    /* margin-top: 20px; */
    /* margin-bottom: 64px; */
  }

  li a:visited {
    color: #bbbbbb;
  }

  footer {
    left: 24;
    bottom: 40;
    margin-top: 140px;
    margin-bottom: 40px;
    position: static;
  }

}
