html {
    scroll-behavior: smooth;
    width: 100%;
}
  
body {
    background-color: #1B1B1E;
    margin: 40px 60px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

.content {
    margin-bottom: 8rem;
}

.content h1 {
    font-size: 7.5rem;
    line-height: 1.1;
    letter-spacing: -4.4px;
    font-weight: 300;
    margin-bottom: 6rem;
    color: #FAA916;
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    animation: 2s ease 0s normal forwards 1 fadein;
}

.content p {
    font-size: 2.3rem;
    line-height: 1.4;
    letter-spacing: -0.5px;
    margin-top: 0;
    color: #FBFFFE;
    margin-bottom: 2rem;
    -webkit-animation: 4s ease 0s normal forwards 1 fadein;
    animation: 4s ease 0s normal forwards 1 fadein;
    width: 60%;
}

sup {
    font-size: 1rem;
    font-weight: 700;
    font-family: monospace;
    color: #6D676E;
}

@media (min-width: 1600px) {
    .content h1 {
        width: 1440px;
    }
    .content p {
        font-size: 2rem;
        letter-spacing: 0;
        width: 720px;
}

@media (min-width: 1600px) {
    .content h1 {
        font-size: 6rem;
    }
    
    .content p {
        width: 100%;
}


@media (min-width: 640px) and (max-width: 1023px) {

    .content h1 {
        font-size: 4rem;
        letter-spacing: -2px;
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: 100%;
    }

    .content p {
        font-size: 2rem;
        letter-spacing: 0;
        width: 100%;
    }

}

@media (min-width: 320px) and (max-width: 640px) {

    body {
        margin: 16px;
        /* width: 100%; */
    }

    .content h1 {
        font-size: 3rem;
        letter-spacing: -2px;
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: 100%;
    }

    .content p {
        font-size: 1.5rem;
        letter-spacing: 0;
        width: 100%;
    }

    sup {
        font-size: .85rem;
        font-weight: 700;
        font-family: monospace;
        color: #6D676E;
    }
}