html {
    scroll-behavior: smooth;
    width: 100%;
}
  
body {
    background-color: #222;
    line-height: 1.6;
    font-family: serif;
    margin: 40px 60px;
}

.content h1 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 4rem;
    font-family: 'Panchang', sans-serif;
    color: #fff;
    /* text-align: center; */
}

.content p {
    font-size: 2.5rem;
    line-height: 1.45;
    margin-top: 0;
    color: #999;
    font-family: 'Gambetta', serif;
    margin-bottom: 1.25rem;
}


@media (min-width: 320px) and (max-width: 640px) {

    body {
        margin: 16px;
        /* width: 100%; */
    }

    .content h1 {
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    .content p {
        font-size: 1.85rem;
    }

}