@font-face {
    font-family: 'iA Writer Mono';
    src: url('../fonts/iAWriter/iAWriterMonoS-Regular.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'iA Writer Mono';
    src: url('../fonts/iAWriter/iAWriterMonoS-Italic.woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'iA Writer Mono';
    src: url('../fonts/iAWriter/iAWriterMonoS-Bold.woff');
    font-weight: 700;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    width: 100%;
}

  
body {
    /* background-color: #1B1B1E; */
    background-color: #202020;
    /* color: #FBFFFE; */
    color: #e7e7e7;
    margin: 4rem;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

img.logo {
    -webkit-animation: 2s ease 0s normal forwards 1 fadein;
    animation: 2s ease 0s normal forwards 1 fadein;
}

.content {
    margin-bottom: 10rem;
    flex-grow: 0 0 auto;
}

.content h1 {
    /* font-family: 'Expose', sans-serif; */
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    font-size: 5em;
    line-height: 1.1;
    margin-bottom: 3rem;
    -webkit-animation: 4s ease 0s normal forwards 1 fadein;
    animation: 4s ease 0s normal forwards 1 fadein;
} 

.content p {
    /* font-family: "Supreme", sans-serif; */
    font-family: 'Bespoke Sans', sans-serif;
    /* font-weight: 300; */
    font-size: 1.25em;
    line-height: 1.4;
    margin-top: 0;
    color: #FBFFFE;
    margin-bottom: 2rem;
    width:560px;
    -webkit-animation: 6s ease 0s normal forwards 1 fadein;
    animation: 6s ease 0s normal forwards 1 fadein;
}


ul {
    list-style-type: none;
    display: flex;
    padding-left: 0;
    -webkit-animation: 8s ease 0s normal forwards 1 fadein;
    animation: 8s ease 0s normal forwards 1 fadein;
}

a, a:visited {
    color: #ff4500;
    text-decoration: none;
}

a:hover {
    border-bottom: 4px solid #ff4500;
    color: #fff;
}

.footer li {
    font-family: "iA Writer Mono", monospace;
    font-size: .9em;
    font-weight: 400;
    text-transform: uppercase;
    margin-right: 2rem;
    letter-spacing: 0.4px;
}




#watch {
    color: #6D676E;
}

/* @media (prefers-color-scheme: light) {
    body {
        background-color: #EEF5FC;
    }

    .content h1 {
        color: #061A40;
    }

    .content p {
        color: #1B1B1E;
    }

    .footer li, a, a:visited {
        color: #0353A4;
    }

    .footer a:hover {
        border-bottom: 3px solid #006DAA;
    }
} */



@media (min-width: 1800px) {
    .content h1 {
        width: 1440px;
    }
    .content p {
        font-size: 1.25rem;
        letter-spacing: 0;
        width: 720px;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .content h1 {
        font-size: 5rem;
    }
    
    .content p {
        width: 100%;
    }
}


@media (min-width: 640px) and (max-width: 1023px) {

    .content h1 {
        font-size: 4rem;
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: 100%;
    }

    .content p {
        /* font-size: 2rem; */
        letter-spacing: 0;
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 640px) {

    body {
        margin: 20px;
        /* width: 100%; */
    }

    .content {
        margin-bottom: 4rem;
    }

    img.logo {
        width: 60%;
    }

    .content h1 {
        font-size: 2.75rem;
        line-height: 1.2;
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 100%;
    }

    .content p {
        font-size: 1.1rem;
        letter-spacing: 0;
        width: 100%;
    }

    .footer li {
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }

    ul {
        /* margin-top: 4rem; */
        display: inline-block;
    }
}